/*Style de la page principale*/
iframe {
    width: 90%;
}

.photo {
    width: 100%;
    border-radius: 50px;
    margin-top: 5px;
}

.presentation-text {
    padding-bottom: 20px;
}

.presentation-text p {
    margin-bottom: -10px;
}

.presentation {
    font-size: 15px;
    padding-top: 15px;
}