/* Style pages mes soins */
.tarif-table {
    width: 100%;
    margin-left: 5%;
}

.tarif-table td {
    height: 75px;
}

@media screen and (min-width: 700px) {
    .tarif-table {
        width: 60%;
        margin-left: 10%;
    }
}

/* Style des réservations */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 5px solid #BD590F;
    border-radius: 50px;
    box-shadow: 10px 5px 5px #411e0256;
    margin: auto;
    background-color: #f4ebe572;
    margin: 30px;
}

.qrcode-img {
    width: 90%;
    height: 90%;
    margin: 20px;
}


/* Style du formulaire de contact */
.contact-form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 5px solid #BD590F;
    border-radius: 50px;
    box-shadow: 10px 5px 5px #411e0256;
    padding: 30px;
    background-color: #F4EBE5;
    margin-bottom: 50px;
}

.form-input, .form-textarea {
    border: none;
    padding-left: 30px;
}

.form-input {
    height: 40px;
    border-radius: 50px;
}

.form-textarea {
    height: 150px;
    padding-top: 10px;
    border-radius: 25px;
}

.label {
    margin-bottom: 5px;
    padding-top: 10px;
}

#text-form-container {
    text-align: center;
}

#errorContainer, #successContainer {
    font-weight: bold;
    margin-top: 5px;
}

#errorContainer {
    color: red;
}

#successContainer {
    color: green;
}

/* Style responsive */
@media screen and (min-width: 700px) {
    .contact-form, .box {
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .contact-form, .box {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .qrcode-img {
        display: none;
    }
}